<!DOCTYPE html>
<html>
  {% include 'header.html' %}
  <script type="text/javascript">
  function adminlogin(){
      d = {}
      d['username'] = document.getElementById("username").value
      d['password'] = document.getElementById("passwd").value
      $.ajax({
      type:"POST",
      url:"/adminlogin",
      data: d,
      success:function adminlogin_return(data){
        result = JSON.parse(data)
        if (result['success'] == 1){
          setCookie('useridthuadmin', result['userid'], 1)
          setCookie('usernamethuadmin', result['username'], 1)
          setCookie('tokenthuadmin', result['token'], 1)
          window.location = '/adminnews'
        }
        else{
          alert(result['message'])
        }
      }
    })
    }
    </script>
  <body class="loginregbody">
    <div class="container">
      <form class="form-info">
        <h2 class="form-info-heading">管理员请登录</h2>
          <label for="username" class="sr-only" >用户名：</label>
          <input class="form-control" id="username" type="text" placeholder="用户名">
          <label for="passwd" class="sr-only" >密码：</label>
          <input class="form-control" id="passwd" type="password" placeholder="密码">  
          <button type="button" class="btn btn-lg btn-primary btn-block" onclick="adminlogin()">登录</button>
      </form>
    </div>
  </body>
  
</html>