<!DOCTYPE html>
<html>

  {% include 'header.html' %}
  <script type="text/javascript">
  function showapplylist() {
    applylist = getapplylist()
    for (i in applylist){
      apply = applylist[i]
      $('#title').append(new Option(apply['title'], '清华大学计算机系2016年全国优秀大学生夏令营'))
    }

  }
  </script>
  <body class="loginregbody" onload="checklogin();showapplylist();">
    <div class="container">
        <form role="form" class="form-info" enctype=multipart/form-data id="applyform" name="applyform" action="/applymodifysubmit" method="POST">

            <label for="name">选择项目</label>
            <select class="form-control" id="title" name="title">
            </select>


            <label for="name">提交材料</label>
            <input type="file" name="file"/>
            <p class="help-block">请提交zip、rar格式文件，文件名由英文字母、数字和下划线组成</p>

          <button type="button" onclick="applymodify_submit()">修改</button>
          <a href='/mainpage'>返回</a>
        </form>
    </div>
  </body>
  
</html>