<!DOCTYPE html>
<html>

  {% include 'header.html' %}
  <script type="text/javascript">
  function getactivitylist() {
    regS = new RegExp("&#34;", "g")
   regS2 = new RegExp("&#39;", "g")
   regSand = new RegExp("&amp;", "g")
   regSu = new RegExp('u"', "g")
   activitylist = "{{activitylist}}".replace(regS,'"').replace(regS2, '"').replace(regSand, '&').replace(regSu,'"')
   activitylist = JSON.parse(activitylist)
   for (i in activitylist){
    activity = activitylist[i]
    $("#activity").append(new Option(activity['title']),activity['title'])
   }
  }
/*
  function showapplylist() {
    applylist = getapplylist()
    for (i in applylist){
      apply = applylist[i]
      $('#applies').append(new Option(apply['title'], apply['title']))
    }

  }*/
  </script>
  <body class="loginregbody" onload="checklogin();getactivitylist();">
    <div class="container">
        <form role="form" class="form-info" enctype=multipart/form-data id="applyform" name="applyform" action="/submit" method="POST">
          <h2 class="form-info-heading">申请项目</h2>
            
            <label for="name">选择项目</label>
            <select class="form-control" id="activity" name="title">
            </select>

            <label for="name">提交材料</label>
            <input type="file" name="file"/>
            <p class="help-block">请提交zip、rar格式文件，文件名由英文字母、数字和下划线组成</p>

          <button type="button" class="btn btn-lg btn-primary btn-block" onclick="apply_submit()">申请</button>
          <a href='/mainpage'>返回</a>

        </form>
  	</div>
  </body>
  
</html>