<!DOCTYPE html>
<html>
  <script type="text/javascript" src="/static/jquery-1.12.3.min.js"></script>
  <script type="text/javascript">
  function getviewdata(){
  	$.ajax({
			type:"GET",
			url:"/getviewdata",
			success:function getviewdata_return(data){
 	  		result = JSON.parse(data)
 	  		for (i in result){
 	  			data = result[i]
 	  			document.getElementById('applylist').innerHTML += '<tr><td>'+String(parseInt(i)+1)+'</td><td>'+data['name']+'</td><td>'+data['college']+'</td><td>'+data['department']+'</td><td>'+data['identity']+'</td><td>'+data['email']+'</td><td>'+data['mobile']+'</td><td><a href="/getmaterial/'+data['username']+'">下载</a></td><td>'+data['lastmodify']+'</td></tr>'

 	  		}}
		})
  }
  </script>
  <body onload="getviewdata();">
  	<table border='1' id="applylist">
  		<tr>
  			<td>编号</td>
  			<td>姓名</td>
  			<td>学校</td>
  			<td>院系专业</td>
  			<td>身份证</td>
  			<td>邮箱</td>
  			<td>手机</td>
  			<td>材料</td>
        <td>修改时间</td>
  		</tr>
  	</table>
  </body>
</html>



