<!DOCTYPE html>
<html>
  {% include 'header.html' %}
  <link rel="stylesheet" href="/static/cover.css" type="text/css">
  <body class="entrancebody">
    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">清华大学计算机系夏令营</h3>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">简介标题</h1>
            <p class="lead">简介文字简介文字简介文字简介文字简介文字简介文字简介文字简介文字简介文字简介文字简介文字</p>
            <p class="lead">
              <a href="/login" class="btn btn-lg btn-default">登录</a>
              <a href="/register" class="btn btn-lg btn-default">注册</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>@清华大学计算机系</p>
            </div>
          </div>

        </div>

      </div>

    </div>
  </body>
  
</html>