<!DOCTYPE html>
<html>

  {% include 'header.html' %}
  <script type="text/javascript">
  function showrecentnews(){
   regS = new RegExp("&#34;", "g")
   regS2 = new RegExp("&#39;", "g")
   regSand = new RegExp("&amp;", "g")
   regSu = new RegExp('u"', "g")
   newslist = "{{newslist}}".replace(regS,'"').replace(regS2, '"').replace(regSand, '&').replace(regSu,'"')
   newslist = JSON.parse(newslist)
   for (i in newslist){
    news = newslist[i]
    document.getElementById('newsglance').innerHTML += '<tr><td>'+news['title']+'</td><td>'+news['date']+'</td><td><a href="'+news['newsdetail']+'">查看详情</a></td></tr>'
   }
  }
  /*
  function showactivitylist() {
    regS = new RegExp("&#34;", "g")
   regS2 = new RegExp("&#39;", "g")
   regSand = new RegExp("&amp;", "g")
   regSu = new RegExp('u"', "g")
   activitylist = "{{activitylist}}".replace(regS,'"').replace(regS2, '"').replace(regSand, '&').replace(regSu,'"')
   activitylist = JSON.parse(activitylist)
   for (i in activitylist){
    activity = activitylist[i]
    document.getElementById('activitylist').style.display = ""
    document.getElementById('activities').innerHTML += '<tr><td>'+activity['title']+'</td><td>'+activity['start']+'</td><td>'+activity['end']+'</td><td><a href="'+activity['newsdetail']+'">查看详情</a><br><a href="/apply">申请</a></td></tr>'
   }
  }

  function showapplylist(){
    applylist = getapplylist()
    for (i in applylist){
      apply = applylist[i]
      document.getElementById('status').innerHTML = '<font style="color:green">已申请</p>'
      document.getElementById('applies').innerHTML = '<a href="#" onclick="getapplymaterial(\''+apply['title']+'\')">下载已提交材料</a><br><a href="/applymodify">修改申请材料</a><br><a href="#" onclick="apply_cancel(\''+apply['title']+'\')">取消申请</a><br>'
    }
  }*/

  </script>
  <body onload="checklogin();showuserinfo();showrecentnews();">
  	
    <nav class="navbar navbar-inverse visible-xs">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">清华大学计算机系夏令营</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">首页</a></li>
        <li><a href="/news">新闻通知</a></li>
      </ul>
    </div>
  </div>
  </nav>

  	<div class="container-fluid">
      <div class="row content">
        <div class="col-sm-3 sidenav hidden-xs">
        <h2>清华大学计算机系夏令营</h2>
        <ul class="nav nav-pills nav-stacked">
          <li class="active"><a href="#">首页</a></li>
        </ul><br>
        </div>
        <br>
        <!--
  			<div class="col-sm-2">
  				<ul class="nav nav-pills nav-stacked">
   					<li class="active"><a href="#">首页</a></li>
   					<li><a href="/news">新闻通知</a></li>
   					<li><a href="/apply">申请</a></li>
				</ul>
  			</div>-->
  			<div class="col-sm-9">
          <div class="row">
                <div class="col-sm-8">
              <div class="well">
        				<h3 class='title'>个人信息</h3>
        				
            <table class="table userinfo">
              <tr>
                <td class="userinfolabel">用户名：</td>
                <td class="userinfovalue" id="username"></td>

              </tr>
              <tr>
                <td class="userinfolabel">姓名：</td>
                <td class="userinfovalue" id="name"></td>
              </tr>
              <tr>
                <td class="userinfolabel">学校：</td>
                <td class="userinfovalue" id="college"></td>
              </tr>
              <tr>
                <td class="userinfolabel">院系专业：</td>
                <td class="userinfovalue" id="department"></td>
              </tr>
              <tr>
                <td class="userinfolabel">身份证：</td>
                <td class="userinfovalue" id="identity"></td>
              </tr>

            </table>

<td class="userinfolabel"><a href='#' onclick="logout()" style="padding-right:15px">登出</a>   <a href='/modify' style="padding-right:15px">查看/修改联系方式</a>   <a href='/modifypassword'>修改密码</a></td>
              </div>
              <div class="well">
                <h3 class='title'>报名申请</h3>
                <div class="applylist" id="applylist" display="none">
                  <table class="table applies">
                    <tr>
                      <td>申请时间</td>
                      <td>修改时间</td>
                      <td>状态</td>
                      <td>操作</td>
                    </tr>
                    <tr>
                      <td id="applydate">无</td>
                      <td id="lastmodify">无</td>
                      <td id="status"><font style="color:red">未申请</font></td>
                      <td id="applies"><a href="/apply">申请</a></td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="well">
      				<h3 class='title'>通知列表</h3>
    				<hr>
    				<table class="table applies" id='newsglance'>
                    <tr>
                      <td>标题</td>
                      <td>时间</td>
                      <td>操作</td>
                    </tr>
                  </table>
      			</div>
            </div>
            <div class="col-sm-4">
              此处应有图片
            </div>
        </div>
  		</div>
	  </div>
  </div>
  </body>
  
</html>