<!DOCTYPE html>
<html>
  {% include 'header.html' %}
  <body class="loginregbody">
    <div class="container">
      <form class="form-info" style="max-width: 400px">
        <h2 class="form-info-heading">修改密码</h2>
        <label for="passwd" class="sr-only" >原密码：</label>
          原密码：<input class="form-control" id="oldpasswd" type="password" style="margin-bottom:0px">

          <label for="passwd" class="sr-only" >新密码：</label>
          新密码：<input class="form-control" id="newpasswd" type="password" style="margin-bottom:0px">  
          <label for="repasswd" class="sr-only" >确认密码：</label>
          确认密码：<input class="form-control" id="repasswd" type="password" style="margin-bottom:10px">

          <button type="button" class="btn btn-lg btn-primary btn-block" onclick="modifypassword()">修改密码</button>
          <a href="/mainpage">返回</a>
      </form>
    </div>
  </body>
  
</html>