<!DOCTYPE html>
<html>

  {% include 'header.html' %}
  <script type="text/javascript">
  function showrecentnews(){
   regS = new RegExp("&#34;", "g")
   regS2 = new RegExp("&#39;", "g")
   regSand = new RegExp("&amp;", "g")
   regSu = new RegExp('u"', "g")
   newslist = "{{newslist}}".replace(regS,'"').replace(regS2, '"').replace(regSand, '&').replace(regSu,'"')
   newslist = JSON.parse(newslist)
   for (i in newslist){
    news = newslist[i]
    document.getElementById('newslist').innerHTML += '<nospan class="recentnewsdate">'+news['date']+'</nospan><br><a class="recentnews" href="news/'+news['newsdetail']+'">'+news['title'] +'</a><br><br>'
   }
  }
  </script>
  <body onload="checklogin();showrecentnews();">
  	<nav class="navbar navbar-inverse visible-xs">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">清华大学计算机系夏令营</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/mainpage">首页</a></li>
        <li class="active"><a href="#">新闻通知</a></li>
      </ul>
    </div>
  </div>
  </nav>

    <div class="container-fluid">
      <div class="row content">
        <div class="col-sm-3 sidenav hidden-xs">
        <h2>清华大学计算机系夏令营</h2>
        <ul class="nav nav-pills nav-stacked">
          <li><a href="/mainpage">首页</a></li>
          <li class="active"><a href="#">新闻通知</a></li>
        </ul><br>
        </div>
        <br>

  			<div class="col-sm-8">
  				<h3 class='title'>新闻列表</h3>
				<hr>
        <div class="newslist" id="newslist"></div>
        </div>
      </div>
  	</div>
  </body>
  
</html>