<!DOCTYPE html>
<html>
  {% include 'header.html' %}
  <body class="loginregbody">
    <div class="container">
      <form class="form-info" style="max-width: 400px">
        <h2 class="form-info-heading">注册新用户</h2>
          <label for="username" class="sr-only" >用户名：</label>
          用户名：<input class="form-control" id="username" type="text" placeholder="只能包含字母、数字和下划线">
          <label for="passwd" class="sr-only" >密码：</label>
          密码：<input class="form-control" id="passwd" type="password" style="margin-bottom:0px" placeholder="至少8位">  
          <label for="repasswd" class="sr-only" >确认密码：</label>
          确认密码：<input class="form-control" id="repasswd" type="password" style="margin-bottom:0px">
          <label for="name" class="sr-only" >姓名：</label>
          姓名：<input class="form-control" id="name" type="text" placeholder="注册后不可修改"> 
          
          <label for="college" class="sr-only" >学校：</label>
          学校：<input class="form-control" id="college" type="text" placeholder="注册后不可修改"> 
          <label for="department" class="sr-only" >院系：</label>
          院系：<input class="form-control" id="department" type="text" placeholder="注册后不可修改"> 
          <label for="identity" class="sr-only" >身份证：</label>
          身份证：<input class="form-control" id="identity" type="text" placeholder="注册后不可修改"> 
          <label for="email" class="sr-only" >邮箱：</label>
          邮箱：<input class="form-control" id="email" type="text"> 
          <label for="mobile" class="sr-only" >手机：</label>
          手机：<input class="form-control" id="mobile" type="text"> 
          <label for="address" class="sr-only" >地址：</label>
          地址：<input class="form-control" id="address" type="text"> 
          <label for="postcode" class="sr-only" >邮编：</label>
          邮编：<input class="form-control" id="postcode" type="text" style="margin-bottom:10px"> 
          <button type="button" class="btn btn-lg btn-primary btn-block" onclick="register()">注册</button>
          <a href="/entrance">返回</a>
      </form>
    </div>
  </body>
  
</html>